@model BugTracker.Models.TicketDetailViewModel
@{
    ViewBag.Title = "Details";
}
<a href="@Url.Action("Index", "Tickets")" class="btn btn-wd btn-default btn-fill btn-move-left" style="margin-bottom: 20px;">
    <span class="btn-label">
        <i class="ti-angle-left"></i>
    </span>
    See All Tickets
</a>
<div class="row">
    <!-- History Column -->
    <div class="col-lg-4 col-sm-6">
        <!-- Ticket Card -->
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">@Model.Ticket.Title</h4>
                <p class="category">Submitter: @Model.Ticket.OwnerUser.FullName</p>
            </div>
            <div class="card-content">
                <p class="category">Description: @Html.Raw(Model.Ticket.Description)</p><br />
                <p class="category">
                    Assignee:
                    @if (Model.Ticket.AssignToUserId == null)
            {
                        @Html.Raw("No asignee");
            }
            else
            {
                        @Html.Raw(Model.Ticket.AssignToUser.FullName)
                    }
                </p><br />
                <p class="category">Status: @Html.Raw(Model.Ticket.TicketStatus.Name)</p><br />
                <p class="category">Priority: @Html.Raw(Model.Ticket.TicketPriority.Name)</p><br />
                <p class="category">Type: @Html.Raw(Model.Ticket.TicketType.Name)</p><br />
                <p class="category">Project: @Html.Raw(Model.Ticket.Project.Title)</p><br />
            </div>
            <div class="card-footer">
                <p class="category">
                    Created:
                    @Html.ToUserTime(Model.Ticket.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                </p>
                <p class="category">
                    Updated:
                    @if (Model.Ticket.Updated.HasValue)
                    {
                        @Html.ToUserTime(Model.Ticket.Updated.Value, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                    }
            </div>
        </div>
        <!-- Comments Card -->
        <div class="card card-chat">
            <div class="card-header">
                <h4 class="card-title">Comments</h4>
            </div>
            <div class="card-content">
                <ol class="chat" id="comments-list">
                    @foreach (var comment in Model.TicketComments)
                    {
                        if (comment.AuthorId == Model.User.Id)
                        {
                    <li class="self">
                        <div class="avatar">
                            @if (comment.Author.ProfilePictureFileUrl != null)
                            {
                                <img src="@comment.Author.ProfilePictureFileUrl" alt="profile-photo">
                            }
                            else
                            {
                                <img src="~/Assets/img/faces/face-0.jpg" />
                            }
                        </div>
                        <div class="msg">
                            <p>@comment.Author.FullName:</p>
                            <p>
                                @comment.Body
                            </p>
                            <div class="card-footer">
                                <h6>
                                    @Html.ToUserTime(comment.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                </h6>
                            </div>
                        </div>
                    </li>
                        }
                        else
                        {
                    <li class="other">
                        <div class="avatar">
                            @if (comment.Author.ProfilePictureFileUrl != null)
                            {
                                <img src="@comment.Author.ProfilePictureFileUrl" />
                            }
                            else
                            {
                                <img src="~/Assets/img/faces/face-0.jpg" />
                            }
                        </div>
                        <div class="msg">
                            <p>@comment.Author.FullName:</p>
                            <p>
                                @comment.Body
                            </p>
                            <div class="card-footer">
                                <h6>
                                    @Html.ToUserTime(comment.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                </h6>
                            </div>
                        </div>
                    </li>
                        }
                    }
                </ol>
                <hr>
                <div class="send-message">
                    @using (Html.BeginForm("Create", "Comments", FormMethod.Post))
                    {
                    <div class="form-group">
                        @Html.Hidden("Ticket.Id", Model.Ticket.Id)
                        @Html.TextBoxFor(m => m.TicketComment.Body, new { @class = "form-control text-area", placeholder = "Add new comment", style = "width: calc(100% - 132px); display: inline-block;" })
                        <div class="send-button">
                            <button class="btn btn-info btn-fill" type="submit">Send</button>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Other Information Column -->
    <div class="col-lg-8 col-sm-6">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <!-- History Card -->
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ticket History</h4>
                    </div>
                    <div class="card-content">
                        <ul class="list-unstyled" id="history-list">
                            @foreach (var history in Model.TicketHistories.Take(10))
                            {
                                <li>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            @if (history.PropertyId == 34)
                                            {
                                                <p class="text-center text-info">
                                                    <i class="ti-user"></i>
                                                </p>
                                            }
                                            @if (history.PropertyId == 36)
                                            {
                                                <p class="text-center text-info">
                                                    <i class="ti-comment"></i>
                                                </p>
                                            }
                                            @if (history.PropertyId == 15)
                                            {
                                                <p class="text-center text-info">
                                                    <i class="ti-plus"></i>
                                                </p>
                                            }
                                            @if (history.PropertyId == 29 || history.PropertyId == 30 || history.PropertyId == 31 || history.PropertyId == 32 || history.PropertyId == 33)
                                            {
                                                <p class="text-center text-info">
                                                    <i class="ti-receipt"></i>
                                                </p>
                                            }
                                            @if (history.PropertyId == 35)
                                            {
                                                <p class="text-center text-info">
                                                    <i class="ti-file"></i>
                                                </p>
                                            }
                                        </div>
                                        <div class="col-xs-11">
                                            <p style="margin-bottom: -3px">
                                                @if (history.OldValue != null && history.NewValue != null)
                                                {
                                                    @(String.Format("{0} {1} {2} from {3} to {4}", history.Author.FirstName, history.Action.Name.ToLower(),
                                            history.Property.Name.ToLower(), history.OldValue, history.NewValue))
                                                }
                                                @if (history.OldValue == null && history.NewValue != null)
                                                {
                                                    @(String.Format("{0} {1} {2} {3}", history.Author.FirstName, history.Action.Name.ToLower(),
                                            history.Property.Name.ToLower(), history.NewValue))
                                                }
                                            </p>
                                            <p class="text-muted">
                                                @Html.ToUserTime(history.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                            </p>

                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <!-- Attachment Upload Card-->
                <div class="collapse" id="fileUpload">
                    <div class="card">
                        @using (Html.BeginForm("Create", "Attachments", FormMethod.Post, new { enctype = "Multipart/form-data", @class = "form-horizontal" }))
            {
                            <div class="card-header">
                                <h4 class="card-title">Add a File</h4>
                            </div>
                            <div class="card-content">
                                @Html.Hidden("Id", Model.Ticket.Id)
                                <div class="form-group">
                                    @Html.LabelFor(m => m.File, htmlAttributes: new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        <input name="File" type="file" class="form-control" />
                                        @Html.ValidationMessageFor(m => m.File, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, htmlAttributes: new { @class = "col-md-3 control-label" })
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.Description, new { @class = "form-control text-area", placeholder = "Add a description here" })
                                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-group">
                                    <label class="col-md-3"></label>
                                    <div class="col-md-9">
                                        <button class="btn btn-info btn-fill" type="submit">Upload</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- Attachment List Card-->
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-xs-7"><h4 class="card-title">Attachments</h4></div>
                            <div class="col-xs-5">
                                <div class="pull-right">
                                    <button class="btn btn-success btn-fill btn-icon btn-sm" type="button" style="margin-right: 10px" data-toggle="collapse" data-target="#fileUpload" aria-expanded="false" aria-controls="file-upload">
                                        <i class="ti-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content">
                        <ul class="list-unstyled" id="attachments-list">
                            @foreach (var attachment in Model.TicketAttachments)
                            {
                            <li>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <div class="icon-default text-center">
                                            <i class="ti-file"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-8">
                                        <p style="overflow-x: hidden">attachment.FileName</p>
                                        @if (attachment.Description != null)
                                            {
                                            <p>@Html.Raw(attachment.Description)</p>
                                            }
                                        <span class="text-muted">@Html.ToUserTime(attachment.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")</span>
                                    </div>
                                    <div class="col-xs-2">
                                        <div class="pull-right" style="margin-right: 10px;">
                                            <a class="btn btn-icon btn-fill btn-info btn-sm" href="@Html.Raw(attachment.FileUrl)" target="_blank">
                                                <i class="ti-download"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
