@model BugTracker.Models.ProjectAssignViewModel

@{
    ViewBag.Title = "Assign";
}

<div class="col-md-6">
    <div class="card">
        @using (Html.BeginForm())
        {
            <div class="card-header">
                <h4 class="card-title">
                    Project: @Model.AssignProject.Title
                </h4>
            </div>
            <div class="card-content">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.AssignProject.Id)
                <div class="form-group">
                    @Html.ListBox("SelectedUsers", Model.Users, new { @class = "multi-select" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-fill btn-info">Submit</button>
                </div>
            </div>
        }
    </div> <!-- end card -->
    <a href="@Url.Action("Index", "Projects")" class="btn btn-wd btn-default btn-fill btn-move-left">
        <span class="btn-label">
            <i class="ti-angle-left"></i>
        </span>
        Back
    </a>
</div>

@section Scripts {
    <script type="text/javascript" src="~/Assets/js/multiselect.js"></script>
    <script type="text/javascript">
        $(function () {
            "use strict";
            $(".multi-select").multiSelect({
                selectableHeader: "<div><strong>Unassigned Users</strong></div>",
                selectionHeader: "<div><strong>Assigned Users</strong></div>"
            });
        });
    </script>
}




