@model BugTracker.Models.CreateProjectViewModel

@{
    ViewBag.Title = "Create Project";
}
<div class="col-md-6">
    <div class="card">
        @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { role = "form" }))
        {
            <div class="card-header">
                <h4 class="card-title">
                    New Project
                </h4>
            </div>
            <div class="card-content">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" value ="Create" class="btn btn-fill btn-info">Submit</button>
                </div>
            </div>
        }
    </div> <!-- end card -->
    <a href="@Url.Action("Index", "Projects")" class="btn btn-wd btn-default btn-fill btn-move-left">
        <span class="btn-label">
            <i class="ti-angle-left"></i>
        </span>
        Back
    </a>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}