@using Microsoft.AspNet.Identity
@model BugTracker.Models.AllAndAssignedProjectsViewModel
@{
    ViewBag.Title = "Projects";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-content">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                        <li role="presentation" class="active"><a href="#assigned" aria-controls="Assigned" role="tab" data-toggle="tab">Assigned</a></li>
                        @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("ProjectManager")))
                        {
                            <li role="presentation"><a href="#all" aria-controls="All" role="tab" data-toggle="tab">All</a></li>
                        }
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="assigned">

                    <!--Assigned Projects-->
                    @if (Model.Assigned.Count() > 0)
                    {
                        <div class="fresh-datatables">
                            <table class="table table-hover table-striped" cellspacing="0" width="100%" style="width: 100%" id="Assigned">
                                <thead>
                                    <tr>
                                        <th>
                                            Created
                                        </th>
                                        <th>
                                            Updated
                                        </th>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Users
                                        </th>
                                        <th class="disabled-sorting"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Assigned)
                                    {
                                    <tr>
                                        <td>
                                            @Html.ToUserTime(item.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                        </td>
                                        <td>
                                            @if (item.Updated.HasValue)
                                            {
                                                @Html.ToUserTime(item.Updated.Value, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                            }
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </a>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @if (item.Users.Count < 4)
                                                {
                                                    foreach (var user in item.Users.OrderBy(u => u.LastName))
                                                    {
                                                <span class="label label-default" style="display: inline-block">@user.FullName</span>
                                                    }
                                                }
                                                else
                                                {
                                                @(item.Users.Any(u => u.Id == User.Identity.GetUserId()) ? "You and " + (item.Users.Count() - 1) + " others" : item.Users.Count().ToString())
                                                }

                                        </td>
                                        <td>
                                            @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("ProjectManager")))
                                                {
                                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>
                                                @Html.ActionLink("Assign", "Assign", new { id = item.Id })
                                                }
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                    else
                    {
                        <p><span class="glyphicon glyphicon-info-sign"></span> Sorry, you are not assigned to any projects</p>
                    }
                </div>
                @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("ProjectManager")))
                {
                    <div role="tabpanel" class="tab-pane" id="all">

                        <!--All Projects-->
                        @if (Model.All.Count > 0)
                        {
                            <div class="fresh-datatables">
                                <table class="table table-hover table-striped" cellspacing="0" width="100%" style="width: 100%" id="All">
                                    <thead>
                                        <tr>
                                            <th>
                                                Created
                                            </th>
                                            <th>
                                                Updated
                                            </th>
                                            <th>
                                                Title
                                            </th>
                                            <th>
                                                Description
                                            </th>
                                            <th>
                                                Users
                                            </th>
                                            <th class="disabled-sorting"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.All)
                                        {
                                            <tr class="@(item.Users.Any(u => u.Id == User.Identity.GetUserId()) ? "success" : "")">
                                                <td>
                                                    @Html.ToUserTime(item.Created, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                                </td>
                                                <td>
                                                    @if (item.Updated.HasValue)
                                                    {
                                                        @Html.ToUserTime(item.Updated.Value, Model.CurrentUser.TimeZone, "MM/dd/yy h:mm tt")
                                                    }
                                                </td>
                                                <td>
                                                    <a href="@Url.Action("Details", "Projects", new { id = item.Id })">
                                                        @Html.DisplayFor(modelItem => item.Title)
                                                    </a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Description)
                                                </td>
                                                <td>
                                                    @if (item.Users.Count < 4)
                                                    {
                                                        foreach (var user in item.Users.OrderBy(u => u.LastName))
                                                        {
                                                            <span class="label label-default" style="display: inline-block">@user.FullName</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        @(item.Users.Any(u => u.Id == User.Identity.GetUserId()) ? "You and " + (item.Users.Count() - 1) + " others" : item.Users.Count().ToString())
                                                    }
                                                </td>
                                                <td>
                                                    @if (Request.IsAuthenticated && (User.IsInRole("Admin")))
                                                    {
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <span> | </span>
                                                        @Html.ActionLink("Assign", "Assign", new { id = item.Id })
                                                    }

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <p><span class="glyphicon glyphicon-info-sign"></span> Sorry, there are no projects.</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div><!--  end card  -->
    @if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("ProjectManager")))
    {
        <a class="btn btn-icon btn-fill btn-success" href="@Url.Action("Create", "Projects")" style="margin-bottom: 20px;">
            <i class="ti-plus"></i>
        </a>
    }
</div>




@section Scripts {
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Assigned').DataTable({
                "order": [[0, "desc"]]
            });
            $('#All').DataTable({
                "order": [[0, "desc"]]
            });
        });
    </script>
}